body {
      background-color: black;
      color: white;
      padding: 5px;
      margin-top: 5px;
    }

img {
      border-radius: 8px;
    }

.beschreibung {
  border: 1px solid #ffffff;
  padding: 10px;
  margin-top: 10px;
}
